---
layout: page
title: "Archives"
subtitle: "List of the Adhy Suryadi's posts."
description: "This page show the all of posts of Adhy Suryadi Blog."
header-img: "img/archive-bg.jpg"
---

           <amp-accordion>
             <section>
 {% for post in site.posts %}
       {% assign currentDate = post.date | date: "%Y" %}
       {% if currentDate != myDate %}
           {% unless forloop.first %}</ul>{% endunless %}
           <h3>{{ currentDate }}</h3>
           <ul class="archives">
           {% assign myDate = currentDate %}
       {% endif %}
       <li>{{ post.date | date: "%B %-d, %Y" }}
            <ul>
             <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        </ul>
            </li>
       {% if forloop.last %}</ul>{% endif %}
   {% endfor %}
              </section>
  </amp-accordion>
