---
layout: page
subtitle: "Coretan kisah sebuah kehidupan."
description: "Coretan kisah sebuah kehidupan, berbagi dengan sesama tentang pengalaman hidup."
---

{% include adsense_index.html %}
<hr>
<div itemscope="itemscope" itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
<div class="post-preview" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
        <div itemprop='image' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
  <meta content='{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}' itemprop='url'/>
  <meta content='700' itemprop='width'>
  <meta content='700' itemprop='height'>
  </div>
  <div itemprop='publisher' itemscope='itemscope' itemtype='https://schema.org/Organization'>
    <div itemprop='logo' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
      <meta content='{{site.url}}{{ site.baseurl }}/img/favicon/android-icon-192x192.png' itemprop='url'/>
      <meta content='600' itemprop='width'>
      <meta content='600' itemprop='height'>
    </div>
    <meta content='{{ site.title }}' itemprop='name'>
  </div>
        <h2 class="post-title" itemprop='headline'><a href="{{ post.url | prepend: site.baseurl }}" itemprop='url mainEntityOfPage'>{{ post.title }}</a>
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle" itemprop="description">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    <p class="post-meta">Posted by <span class='post-author vcard' itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person'><span itemprop='name'>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span></span> on <time class="published" itemprop="datePublished dateModified" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time></p>
</div>
<hr>
{% endfor %}
</div>
<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="material-icons md-18">&#xE5C4;</i> Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts <i class="material-icons md-18">&#xE5C8;</i></a>
    </li>
    {% endif %}
</ul>
{% endif %}
<hr>
{% include adsense_index_bottom.html %}
