<div class="adsense_index-bottom">  
     <div class="ad1">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="728" height="90"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
     <div class="ad2">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="468" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
     <div class="ad3">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="336" height="280"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
     <div class="ad4">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="300" height="250"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
     <div class="ad5">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="200" height="200"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
     <div class="ad6">
<!-- AdhySuryadiIndexBottom -->
     <amp-ad width="200" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3637170966">
 </amp-ad>
</div>
</div>
<div class="clearfix"></div>
