<div class="adsense_top_post">
<div class="ad1">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="728" height="90"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
     <div class="ad2">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="468" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
     <div class="ad3">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="320" height="50"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
     <div class="ad4">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="320" height="50"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
     <div class="ad5">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="234" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
     <div class="ad6">
<!-- AdhySuryadiPostTop -->
     <amp-ad width="200" height="200"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="5399242566">
 </amp-ad>
</div>
</div>
<div class="clearfix"></div>
