<div class="adsense_top_comment">
          <div class="ad1">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="728" height="90"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
     <div class="ad2">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="468" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
     <div class="ad3">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="336" height="280"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
     <div class="ad4">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="300" height="250"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
     <div class="ad5">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="250" height="250"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
     <div class="ad6">
<!-- AdhySuryadiTopComment -->
     <amp-ad width="200" height="200"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="3868476965">
 </amp-ad>
</div>
</div>
