<div class="adsense_bottom_post">   
     <div class="ad1">
<!-- AdhySuryadiPostBottom -->
     <amp-ad height="280"
      type="adsense"
      layout="fixed-height"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
     <div class="ad2">
<!-- AdhySuryadiPostBottom -->
     <amp-ad width="468" height="60"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
     <div class="ad3">
<!-- AdhySuryadiPostBottom -->
     <amp-ad width="336" height="280"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
     <div class="ad4">
<!-- AdhySuryadiPostBottom -->
     <amp-ad width="300" height="250"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
     <div class="ad5">
<!-- AdhySuryadiPostBottom -->
     <amp-ad width="250" height="250"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
     <div class="ad6">
<!-- AdhySuryadiPostBottom -->
     <amp-ad width="200" height="200"
      type="adsense"
      data-ad-client="ca-pub-2124282593506094"
      data-ad-slot="6596774169">
 </amp-ad>
</div>
</div>
