<div class="authorbox">
  <h2 class="author-title">
Author
</h2>
  <img alt="author" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://lh3.googleusercontent.com/-Q55pKJrgnXs/AAAAAAAAAAI/AAAAAAAAh9M/ae9EthU2__8/s120-c/photo.jpg" width="120" height="120" />
  <a class="authorname" href="https://plus.google.com/+AdhySuryadi" rel="author" target="_blank" title="Adhy Suryadi">Adhy Suryadi</a>
  <a class="authorname-url" href="https://plus.google.com/+AdhySuryadi" rel="author" target="_blank" title="google.com/+AdhySuryadi">google.com/+AdhySuryadi</a>
  <div class="sosmed-author">
    <ul>
      <li><a href="https://www.facebook.com/adhy.suryadii" target="_blank" title="Facebook" rel="nofollow"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/KompiAjaib" target="_blank" title="Twitter" rel="nofollow"><i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://www.google.com/+AdhySuryadi" target="_blank" title="Google+" rel="nofollow"><i class="fa fa-google-plus-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="//www.youtube.com/c/AdhySuryadi" target="_blank" title="Youtube" rel="nofollow"><i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/adhysuryadi" target="_blank" title="LinkedIn" rel="nofollow"><i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/adhy_suryadi/" target="_blank" title="Instagram" rel="nofollow"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/KompiAjaib" target="_blank" title="Instagram" rel="nofollow"><i class="fa fa-github-square fa-lg" aria-hidden="true"></i></a></li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
