<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'id',
      includedLanguages: 'ar,de,en,hi,id,ja,nl,pt,th,tl,vi',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');
  };
  function downloadJSAtOnload() {
  var e = document.createElement("script");
  e.src = "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", document.body.appendChild(e)
}
window.addEventListener ? window.addEventListener("load", downloadJSAtOnload, !1) : window.attachEvent ? window.attachEvent("onload", downloadJSAtOnload) : window.onload = downloadJSAtOnload;
</script>
