<link href="{{site.url}}{{ site.baseurl }}/img/favicon/favicon.ico" rel="icon" type="image/x-icon">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/favicon-32x32.png" rel="icon" sizes="32x32">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/android-icon-192x192.png" rel="icon" sizes="192x192">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/apple-icon-180x180.png" rel="apple-touch-icon-precomposed">
    <meta content="{{site.url}}{{ site.baseurl }}/img/favicon/ms-icon-144x144.png" name="msapplication-TileImage">
