<div id="gcsengine"></div>
<script>
   var gcseDiv = document.getElementById('gcsengine');
   gcseDiv.innerHTML = '<gcse:search></gcse:search>'
</script>
<script>
  (function() {
    var cx = '006106396690849460662:8g5cvyu7r7u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

