          <form action="/" class="navbar-form" role="search">
                    <input type='hidden' name='cx' value='006106396690849460662:8g5cvyu7r7u' />
                    <input type='hidden' name='cof' value='FORID:10' />
                    <input type='hidden' name='ie' value='ISO-8859-1' />
            <div class="form-group">
              <input type="text" name='q' class="form-control" placeholder="Search on this blog">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>

<div id="gcsengine"></div>
<script>
   var gcseDiv = document.getElementById('gcsengine');
   gcseDiv.innerHTML = '<gcse:searchresults-only></gcse:searchresults-only>'
</script>
<script>
  (function() {
    var cx = '006106396690849460662:8g5cvyu7r7u';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
