<div id="modal1" class="overlay">
			<a class="cancel" href="#"></a>
			<div class="modal">
			  <div id='search-box'>
  <form action='https://cdn.rawgit.com/KompiAjaib/kompiajaib.github.io/master/search_results_adhysuryadi.html?q={q}' method='get' target='_blank'>
<input class='search-form' name='q' placeholder='Search....' required='required' type='text'/>
<button class='search-button' title='Search' type='submit'><i class='material-icons'>&#59574;</i></button>
  </form>
				<div class="clearfix"></div>
			</div>
		</div>
</div>
