<div id="modal1" class="overlay">
			<a class="cancel" href="#"></a>
			<div class="modal">
			  <div id='search-box'>
<div itemprop='mainEntity' itemscope='itemscope' itemtype='http://schema.org/WebSite'>
<meta content='http://adhysuryadi.xyz/' itemprop='url'/>
  <form action='https://cdn.rawgit.com/KompiAjaib/kompi-html/master/search_results_adhysuryadi.html' itemprop='potentialAction' itemscope='itemscope' itemtype='http://schema.org/SearchAction' method='get' target='_blank'>
<meta content='https://cdn.rawgit.com/KompiAjaib/kompi-html/master/search_results_adhysuryadi.html?q={q}' itemprop='target'/>
<input class='search-form' id='feed-q-input' itemprop='query-input' name='q' placeholder='Search....' required='required' type='text'/>
<button class='search-button' title='Search' type='submit'><i class='material-icons'>&#59574;</i></button>
  </form></div>
</div>
				<div class="clearfix"></div>
			</div>
		</div>
