<div id="modal1" class="overlay">
			<a class="cancel" href="#"></a>
			<div class="modal">
			  <div id='search-box'>
  <form action='//www.google.com/search' method='get' target='_top'>
<input class='search-form' name='q' placeholder='Search....' required='required' type='text'/>
<input name='as_sitesearch' type='hidden' value='adhysuryadi.com'/>
<button class='search-button' title='Search' type='submit'><i class='material-icons'>&#59574;</i></button>
  </form>
				<div class="clearfix"></div>
			</div>
		</div>
</div>
