<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" itemprop='mainEntity' itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement'>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/" itemprop='url' title="Home"><span itemprop='name'>Home</span></a></li>
                <li><a href="https://cdn.rawgit.com/KompiAjaib/kompi-html/master/contactform-amp3.html?email=kompiajaib@gmail.com&url=http://adhysuryadi.xyz/thanks/&blog=http://adhysuryadi.xyz/&title=Blog%20Adhy%20Suryadi" itemprop='url' rel="nofollow" title="Contact"><span itemprop='name'>Contact</span></a></li>
                {% for page in site.pages %}{% if page.title %}{% if page.url contains  "/tags/" or page.url contains  "/search" or page.url contains  "/thanks" or page.url contains  "/404" %}{% else %}<li><a href="{{ page.url | prepend: site.baseurl }}" itemprop='url' title="{{ page.title }}"><span itemprop='name'>{{ page.title }}</span></a></li>{% endif %}{% endif %}{% endfor %}
                <li><amp-accordion>
    <section>
      <h4><i class='material-icons md-18'>&#59574;</i></h4>
<div id="modal1" class="overlay">
			<div class="modal">
			  <div id='search-box'>
  <form action='https://cdn.rawgit.com/KompiAjaib/kompiajaib.github.io/master/search_results_adhysuryadi.html?q={q}' method='get' target='_blank'>
<input class='search-form' name='q' placeholder='Search....' required='required' type='text'/>
<button class='search-button' title='Search' type='submit'><i class='material-icons'>&#59574;</i></button>
  </form>
				<div class="clearfix"></div>
			</div>
		</div>
        </div>
    </section>
  </amp-accordion></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
