<meta content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" property="og:title">
    <meta content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" property="og:url">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}<meta content="article" property="og:type">{% else %}<meta content="website" property="og:type">{% endif %}
    <meta content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" property="og:description">
    <meta content="{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" property="og:image">
    <meta content="100006644464463" property="fb:admins">
    <meta content="1043474759064054" property="fb:profile_id">
    <meta content="{{ site.author }}" name="Author">
    <meta content="https://www.facebook.com/{{ site.facebook_username }}" property="article:author">
    <meta content="{{ site.title }}" name="twitter:site">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@{{ site.twitter_username }}" name="twitter:creator">
