<div class="don-share" data-limit="3">
  <div class="don-share-total"></div>
  <div class="don-share-facebook"></div>
  <div class="don-share-twitter"></div>
  <div class="don-share-google"></div>
  <div class="don-share-linkedin"></div>
  <div class="don-share-pinterest"></div>
  <div class="don-share-tumblr"></div>
  <div class="don-share-stumbleupon"></div>
  <div class="don-share-reddit"></div>
  <div class="don-share-hackernews"></div>
  <div class="don-share-buffer"></div>
  <div class="don-share-xing"></div>
  <div class="don-share-pocket"></div>
  <div class="don-share-fancy"></div>
  <div class="don-share-yummly"></div>
  <div class="don-share-scoopit"></div>
  <div class="don-share-weibo"></div>
  <div class="don-share-vk"></div>
  <div class="don-share-mailru"></div>
  <div class="don-share-odnoklassniki"></div>
  <div class="don-share-hatena"></div>
</div>
