<div id="mc_embed_signup">
  <div id="mc_embed_signup_scroll">
      <div class="label">SUBSCRIBE <span class="to">to</span> <span class="our">Our News Letters</span></div>
      <div class="clear">
        <a href="http://eepurl.com/gQZgVX" class="button" target="_blank" title="Subscribe">Click Here To Subscribe</a>
      </div>
    </div>
</div>
<center><amp-iframe frameborder='0' height='500' sandbox='allow-scripts allow-same-origin allow-popups' scrolling='no' src='https://cdn.statically.io/gh/encepnurdin/blog/faee5f65/facebook_likebox.html?page=encepnurdin.id' width='320'>
  </amp-iframe></center>
