<div id="mc_embed_signup">
  <div id="mc_embed_signup_scroll">
      <div class="label">SUBSCRIBE <span class="to">to</span> <span class="our">Our News Letters</span></div>
      <div class="clear">
        <a href="http://eepurl.com/gQZgVX" class="button" target="_blank" title="Subscribe">Click Here To Subscribe</a>
      </div>
    </div>
</div>
<center><amp-iframe src="https://cdn.rawgit.com/KompiAjaib/kompi-html/master/fb_pageplugin_amp.html?page=encepnurdin.id" frameborder="0" scrolling="no" width="600" height="330" layout="responsive" sandbox="allow-forms allow-scripts allow-same-origin allow-popups"></amp-iframe></center>
