<!DOCTYPE html>
<html amp itemscope itemtype="http://schema.org/NewsArticle" lang="id">
{% include head.html %}
<body>
    {% include google_analytics.html %}
    <button class='btn-sidebaramp' on='tap:sidebar.toggle'></button>
<amp-sidebar id='sidebar' layout='nodisplay' side='right'>
    <amp-img alt='close sidebar' class='amp-close-image' height='20' on='tap:sidebar.close' role='button' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAQAAABLCVATAAAAlklEQVR4Ae3USwqDQBAA0ercK3OYfC7lJ0dtA+JmQAp7EbKZcinzRIZu+kajRmDdaFzoTTIRwnxInuA1ko2tp3pmf580tGBm25+ZOGf0Q045Y9RyHFiIOuOUM0qtx8GVKDJC1Ri5ozojlDN16G+/1l/4JFSBCRucAqODU2B8cCqMUAXGBqe42M6p5I7H69Kqffxi+Y9GX50Hllcu+oGKAAAAAElFTkSuQmCC' tabindex='0' width='20'></amp-img>
<nav>
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      {% for page in site.pages %}{% if page.title %}{% if page.url contains  "/tags/" or page.url contains  "/search" or page.url contains  "/thanks" or page.url contains  "/404" %}{% else %}<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}{% endif %}{% endfor %}
      <li><a href="#modal1" class="nav-search-link" title="Search"><i class='material-icons md-18'>&#59574;</i> Search</a></li>
    </ul>
  </nav>
  </amp-sidebar>
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    {% include modal_search_box.html %}
    {% include cookies-notification.html %}
    </body>
</html>
