<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
    
        <div class="container">
        <div class="row">
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
                    {% include google_custom_search.html %}
             </div>
  </div>
</div>
        </div>
    </div>

    {% include google_analytics.html %}
<!--</body>--></body>

</html>
