---
layout: default
---

<div class="post">
<!-- Post Header -->
<header class="intro-header">
	<amp-img noloading alt="Post Image" height="448" width="1423" src="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}"></amp-img>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 class='post-title entry-title' itemprop='headline'><a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" title='{{ page.title }}' itemprop='url mainEntityOfPage'>{{ page.title }}</a></h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <h3 class="meta">Posted by <span class='post-author vcard' itemprop='author' itemscope='itemscope' itemtype='http://schema.org/Person'><span itemprop='name'>{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span></span> on <time class="published" itemprop="datePublished dateModified" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time> in {% for tag in page.tags %}<a class="label label-primary" href="/tags/{{ tag }}"><i class="material-icons">&#xE54E;</i> {{ tag }}</a> {% endfor %}</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="clear"></div>
<!-- Post Content -->
<article class="entry post-content">
<div itemprop='image' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
  <meta content='{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}' itemprop='url'/>
  <meta content='1280' itemprop='width'>
  <meta content='720' itemprop='height'>
  </div>
  <div itemprop='publisher' itemscope='itemscope' itemtype='https://schema.org/Organization'>
    <div itemprop='logo' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
      <meta content='{{site.url}}{{ site.baseurl }}/img/adhysuryadi.png' itemprop='url'/>
      <meta content='600' itemprop='width'>
      <meta content='60' itemprop='height'>
    </div>
    <meta content='{{ site.title }}' itemprop='name'>
  </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            			{% include adsense_top_post.html %}
            			<hr>
				{{ content }}
				{% include adsense_bottom_post.html %}
                <hr>
                		{% include share_count.html %}
                <hr>
{% assign hasSimilar = '' %}
{% for post in site.related_posts %}
    {% assign postHasSimilar = false %}
    {% for tag in post.tags %}
        {% for thisTag in page.tags %}
            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and tag == thisTag %}
                {% if hasSimilar.size == 0 %}
                <h4>Similar Posts</h4>
                <ul>
                {% endif %}
                <li class="relatedPost">
                    <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}
                    {% if post.series %}
                        (Series: {{ post.series }})
                    {% endif %}
                    </a>
                </li>
                {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                {% assign postHasSimilar = true %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
{% if hasSimilar.size > 0 %}
    </ul>
{% endif %}
                <ul class="pager post">
                    {% if page.previous.url %}
                    <li class="previous">
                    	<h5>Previous Post</h5>
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Previous Post">{{page.previous.title}}</a>
                    </li>
                    {% else %}
                    <li class="previous">
                    	<h5>Previous Post</h5>
                        <span>This Is The Oldest Page</span>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                    	<h5>Next Post</h5>
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Next Post">{{page.next.title}}</a>
                    </li>
                    {% else %}
                    <li class="next">
                    	<h5>Next Post</h5>
                    	<span>This Is The Newest Post</span>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{% include adsense_top_comment.html %}
            	<hr>
            	{% include disqus_comments.html %}
            </div>
        </div>
    </div>
</div>
<hr>
